<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FlashZap - Main Menu</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container">
        <h1>FlashZap - Main Menu</h1>
    <ul>
            <li><a href="/review">Start a review session</a></li>
            <li><a href="/import">Import Flashcards from JSON</a></li>
            <li><a href="/browse">Browse Cards</a></li>
    </ul>
    </div>
</body>
</html> 